In [ ]:
data = [('James','','Smith','London'),
  ('Michael','Rose','','Paris'),
  ('Robert','','Williams','Lisbon'),
  ('Maria','Anne','Jones','Rome'),
  ('Jen','Mary','Brown','Madrid')
]

columns = ["firstname","middlename","lastname","city"]

df = spark.createDataFrame(data=data, schema = columns)

In [ ]:
display(df)

firstname,middlename,lastname,city
James,,Smith,London
Michael,Rose,,Paris
Robert,,Williams,Lisbon
Maria,Anne,Jones,Rome
Jen,Mary,Brown,Madrid

In [ ]:
(df.write
  .format("jdbc")
  .option("url", "jdbc:sqlserver://server.database.windows.net:1403;database=db")
  .option("dbtable", "persons")
  .option("user", "user")
  .option("password", "password")
  .saveAsTable('persons')
)

In [ ]:
display(df)

firstname,middlename,lastname,city
James,,Smith,London
Michael,Rose,,Paris
Robert,,Williams,Lisbon
Maria,Anne,Jones,Rome
Jen,Mary,Brown,Madrid

In [ ]:
person_table = (spark.read
  .format("jdbc")
  .option("url", "jdbc:sqlserver://server.database.windows.net:1403;database=db")
  .option("dbtable", "persons")
  .option("user", "server")
  .option("password", "password")
  .load()
)

In [ ]:
spark.sql("insert into {person_table} values ('Donald','D', 'Trump', 'New York')", person_table=person_table)

Out[55]: DataFrame[]

In [ ]:
display(person_table)

firstname,middlename,lastname,city
Michael,Rose,,Paris
Maria,Anne,Jones,Rome
James,,Smith,London
Robert,,Williams,Lisbon
Donald,D,Trump,New York
Jen,Mary,Brown,Madrid

In [ ]:
type(person_table)

Out[57]: pyspark.sql.dataframe.DataFrame