In [ ]:
data = [('James','','Smith','London'),
  ('Michael','Rose','','Paris'),
  ('Robert','','Williams','Lisbon'),
  ('Maria','Anne','Jones','Rome'),
  ('Jen','Mary','Brown','Madrid')
]

columns = ["firstname","middlename","lastname","city"]

df = spark.createDataFrame(data=data, schema = columns)

In [ ]:
display(df)

firstname,middlename,lastname,city
James,,Smith,London
Michael,Rose,,Paris
Robert,,Williams,Lisbon
Maria,Anne,Jones,Rome
Jen,Mary,Brown,Madrid

In [ ]:
person_table = (spark.read
  .format("jdbc")
  .option("url", "jdbc:sqlserver://server.database.windows.net:1403;database=db")
  .option("dbtable", "persons")
  .option("user", "sql")
  .option("password", "password")
  .load()
)

In [ ]:
display(person_table)

In [ ]:
(df.write
  .format("jdbc")
  .option("url", "jdbc:sqlserver://server.database.windows.net:1403;database=db")
  .option("dbtable", "persons")
  .option("user", "user")
  .option("password", "password")
  .saveAsTable('persons')
)